- add_title Calendar.model_name.human.pluralize
= date_book_scripts
.row
  .col-md-9
    #calendar
  .col-md-3
    %ul.calendars
      - @calendars.each do |calendar|
        %li.calendar
          = link_to calendar.name, calendar
- add_footer_javascript do
  :javascript
    $(function() {
      $('#calendar').fullCalendar({
        events: {
          url: '#{date_book.api_path format: :json}',
          type: 'POST',
          data: { query: calendarEventsQuery },
          success: function(data, status, xhr) {
            return $.map(data.data.event_occurrences, formatEventOccurrence);
          }
        },
        eventRender: calendarEventRender,
        header: calendarEventHeader,
      });
    });
