= f.fields_for :duration_attributes, f.object.duration_attributes do |duration|
  = f.form_group :duration, label: { text: Schedule.human_attribute_name('duration') }, class: 'date-book--duration' do
    .input-group
      = duration.text_field_without_bootstrap :count, class: 'duration-count form-control'
      .input-group-addon
        = duration.select_without_bootstrap :unit, DateBook.configuration.duration_units, selected: f.object.duration_unit