= date_book_date start_date, all_day
- unless (all_day && duration == 1.day)
  &mdash;
  - if start_date.to_date === end_date.to_date
    = date_book_time end_date
  - else
    = date_book_date end_date, all_day

