<!DOCTYPE html>
<html>
<head>
  <title>Gem template</title>
  <%= stylesheet_link_tag    "gem_template/application", media: "all" %>
  <%= javascript_include_tag "gem_template/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
