@import 'fullcalendar.css';
@import 'bootstrap-wysihtml5/bootstrap3-wysihtml5.css';
@import 'bootstrap-datetimepicker.css';

.all-day {

}

.part-day, .part-day:hover {
  color: #000;
  border: solid 1px #3A87AD;
  background-color: lighten(#3A87AD, 50%);
}

.float-right {
  float: right;
}

.required {
  color: #c00;

  &:before {
    content: '* ';
    color: #c00;
  }
}

.date-picker, .time-picker {
  width: 8em;
}

.input-group .form-control {
  height: auto;
}

.input-group-addon .checkbox-inline {
  padding-top: 0;
}

.event-schedule-rule-section .input-group {
  max-width: 20em;
}

.margin-left {
  margin-left: 1em;
}