.clearfix
  %p
    = truncate strip_tags(@event.description), length: 250, separator: ' ', omission: '...'
  .float-right
    - if can? :edit, @event
      = icon_link_to 'pencil', :edit.l, date_book.edit_calendar_event_path(@event.calendar, @event.slug), class: 'btn btn-info'
    = icon_link_to 'zoom-in', :read_more.l, date_book.calendar_event_path(@event.calendar, @event.slug, occurrence_id: @occurrence&.id), class: 'btn btn-primary'